@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.json-node {
  display: flex;
  flex-direction: row;
  font-family: 'Cutive Mono';
  font-size: small;
}

.json-name {
  color: black;
  font-weight: normal;
}

.json-separator {
  color: black;
  font-weight: bold;
  padding-right: 1rem;
}

.json-value {
  color: blue;
  font-weight: bold;
}
