.cut {
  fill: none;
  stroke: black;
  stroke-width: 0.2;
}

.flip {
  fill: none;
  stroke: black;
  stroke-width: 0.2;
  stroke-dasharray: 4,2;
}

.inverted {
  fill: none;
  stroke: black;
  stroke-width: 0.2;
  stroke-dasharray: 2,4;
}

.reference {
  fill: none;
  stroke: gray;
  stroke-width: 0.2;
  stroke-dasharray: 0.4,0.8;
}

.mark {
  fill: none;
  stroke: blue;
  stroke-width: 0.2;
}
